.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFEF5A;
  background-color: #198D99;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}

.body-login{
		background: rgba(0, 0, 0, 0) url("../img/bg-login1.jpg") no-repeat fixed center center / 100% 100% !important;
}

.form-login {
	min-width: 100px;
	max-width: 320px;
	margin: 150px auto;
	background: rgba(0, 0, 0, 0.5) ;
	border-radius: 10px;
	border: 1px solid #e3e3e3;
	padding: 20px;
	padding-top: 10px;
}

.box-qrcode {
	min-width: 100px;
	max-width: 320px;
	margin: 150px auto;
	background: rgba(0, 0, 0, 0.5) ;
	border-radius: 10px;
	border: 1px solid #e3e3e3;
	padding: 20px;
	padding-top: 10px;
}

.fixed-top-right {
	position: fixed;
	top: 5px;
	right: 0px;
	width: 300px;
	color: #fff;
	text-align: right;
	z-index: 1;
}

.fixed-top-left {
	position: fixed;
	top: 0;
	left: 10px;
	width: 300px;
	color: #fff;
	text-align: left;
	z-index: 1;
}

.fixed-bottom-right {
	position: fixed;
	bottom: 0;
	right: 10px;
	width: 300px;
	color: #fff;
	text-align: right;
}

.fixed-bottom-left {
	position: fixed;
	bottom: 0;
	left: 10px;
	width: 300px;
	color: #fff;
	text-align: right;
}

.alert-failed {
	background: rgba(150, 0, 0, 0.08);
	border-color: red;
	color: red
}


.bar {
	width: 100%;
	height: 30px;
	border: 1px solid #2980b9;
	border-radius: 3px;
	background-image:
			repeating-linear-gradient(
					-45deg,
					#2980b9,
					#2980b9 11px,
					#eee 10px,
					#eee 20px /* determines size */
			);
	background-size: 28px 28px;
	animation: move .5s linear infinite;
}

@keyframes move {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 28px 0;
	}
}


.error-template {
	margin: 150px auto;
	background: #ffffffb3;
	border-radius: 5px;
	width: 55%;
	padding: 33px;
}

.error-template h2.title {
	margin: 0;
	font-size: 39px;
}

.error-template h1.code {
	margin: 0;
	font-size: 150px;
	font-weight: bold;
}

.error-template h2.error {
	margin: -25px 0 20px;
	font-size: 20px;
	font-weight: bold;
}



