<div class="fixed-top-left">
    <div class="col">
        <div class="col-md-12 col-sm-12">
            <h1>{{theTime | date:'HH:mm:ss'}}</h1>
            {{theTime | date:'EEEE, dd MMMM'}}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="logo">

            </div>
            <div class="middle-box text-center form-login">
                <div>
                    <img src="../img/logo.png" width="130">
                    <h1 class="logo-name" style="color: white">
                        LOGIN
                    </h1>
                </div>
                <hr>
                <form ng-submit="login()">
                    <div class="form-group">
                        <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" ng-model="input.username" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="userPassword" class="form-control input-sm chat-input" placeholder="password" ng-model="input.password" />
                    </div>
                    <div class="alert alert-failed" ng-show="messageError">
                        <span>{{messageError}}</span>
                    </div>
                    <button type="submit" class="btn btn-primary block" ng-show="!loader" style="width: 100%; margin-top: 20px">LOGIN <i class="fa fa-sign-in"></i></button>
                    <div class="bar" ng-show="loader" style="margin-top: 37px"></div>
                </form>
            </div>
        </div>
    </div>
</div>


