<style type="text/css">
  
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
  color: #3c763d;
  background-color: #d6e9c6;
  border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
  color: #3c763d;
  background-color: #fff;
  border-color: #d6e9c6;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
  color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
  color: #31708f;
  background-color: #bce8f1;
  border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
  color: #31708f;
  background-color: #fff;
  border-color: #bce8f1;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
  color: #8a6d3b;
  background-color: #faebcc;
  border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
  color: #8a6d3b;
  background-color: #fff;
  border-color: #faebcc;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
  color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
  color: #a94442;
  background-color: #ebccd1;
  border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
  color: #a94442;
  background-color: #fff;
  border-color: #ebccd1;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}
</style>

<style type="text/css">
  
  .filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -40px;
}
.filterable .filtersDetail input[disabled], .filterable .filtersSummary input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filtersDetail input[disabled]::-webkit-input-placeholder, .filterable .filtersSummary input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filtersDetail input[disabled]::-moz-placeholder, .filterable .filtersSummary input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filtersDetail input[disabled]:-ms-input-placeholder, .filterable .filtersSummary input[disabled]::-moz-placeholder {
    color: #333;
}
.error-list {
    color: #fff;
    background: #f15b5b;
}
.warning-list {
    background: #f1ff7e;
}
.next-day-list {
    background: whitesmoke;
}

  .nav-tabs{margin-bottom: 15px;}

  /*-------------------AngularJS & jQuery UI Datepicker starts-----------------------------
  .datepicker-container{position: relative;padding: 6px;float: left;border-radius: 2px;margin-bottom: 8px;}
  .datepicker-container.ng-invalid-datepicked{background-color: #F8C4C4;border: 1px solid #C28080;}
  .datepicker-container.ng-valid-datepicked{background-color: #DDFBCD;border: 1px solid #A6C297;}
  .datepicker-container .plugin{position: absolute;z-index: 1;}
  .datepicker-container .date-picked{color: #5D7A4E;}
  .datepicker-container .calendar-icon:before{content: 'Pick Date';}
  -------------------AngularJS & jQuery UI Datepicker ends-----------------------------*/

  input[type=text]{
      border-radius: 0px !important;
  }
  .ui-datepicker-trigger{
      position: absolute;
      margin-top: -28px;
      right:15px;
      border:none;
      background-color:transparent;
  }

  .ng-valid{
      border-left: 2px solid #090;
  }
  .ng-invalid{
      border-left: 2px solid #900;
  }

</style>
<script type="text/javascript">
  $(document).ready(function(){
      $('#btnFilterTabSummary').hide();
      $('#btnTabDetail').click(function(){
          $('#btnFilterTabDetail').show();
          $('#btnFilterTabSummary').hide();
      });

      $('#btnTabSummary').click(function(){
          $('#btnFilterTabDetail').hide();
          $('#btnFilterTabSummary').show();
      });

      var clicFilterFunction = function(param) {
          var $panel = $('.filterable .'+param.btnClass).parents('.filterable'),
              $filters = $panel.find('.'+param.filterClass+' input'),
              $labels = $panel.find('.'+param.filterClass+' p.header-label'),
              $tbody = $panel.find('.table tbody');
          if ($filters.prop('disabled') == true) {
              $filters.show();
              $labels.hide();
              $filters.prop('disabled', false);
              $filters.first().focus();
          } else {
              $filters.hide();
              $labels.show();
              $filters.val('').prop('disabled', true);
              $tbody.find('.no-result').remove();
              $tbody.find('tr').show();
          }
      }

      $('.filterable .btn-filter-detail').click(function(){
          var param = {
              btnClass : 'btn-filter-detail',
              filterClass : 'filtersDetail'
          }
          clicFilterFunction(param);
      });

      $('.filterable .btn-filter-summary').click(function(){
          var param = {
              btnClass : 'btn-filter-summary',
              filterClass : 'filtersSummary'
          }
          clicFilterFunction(param);
      });

    $('.filterable .filtersDetail input').keyup(function(e){
        /* Ignore tab key */
        var code = e.keyCode || e.which;
        if (code == '9') return;
        /* Useful DOM data and selectors */
        var $input = $(this),
        inputContent = $input.val().toLowerCase(),
        $panel = $input.parents('.filterable'),
        column = $panel.find('.filtersDetail th').index($input.parents('th')),
        $table = $panel.find('.table'),
        $rows = $table.find('tbody tr');
        /* Dirtiest filter function ever ;) */
        var $filteredRows = $rows.filter(function(){
            var value = $(this).find('td').eq(column).text().toLowerCase();
            return value.indexOf(inputContent) === -1;
        });
        /* Clean previous no-result if exist */
        $table.find('tbody .no-result').remove();
        /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
        $rows.show();
        $filteredRows.hide();
        /* Prepend no-result row if all rows are filtered */
        if ($filteredRows.length === $rows.length) {
            $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filtersDetail th').length +'">No result found</td></tr>'));
        }
    });

      $('.filterable .filtersSummary input').keyup(function(e){
          /* Ignore tab key */
          var code = e.keyCode || e.which;
          if (code == '9') return;
          /* Useful DOM data and selectors */
          var $input = $(this),
              inputContent = $input.val().toLowerCase(),
              $panel = $input.parents('.filterable'),
              column = $panel.find('.filtersSummary th').index($input.parents('th')),
              $table = $panel.find('.table'),
              $rows = $table.find('tbody tr');
          /* Dirtiest filter function ever ;) */
          var $filteredRows = $rows.filter(function(){
              var value = $(this).find('td').eq(column).text().toLowerCase();
              return value.indexOf(inputContent) === -1;
          });
          /* Clean previous no-result if exist */
          $table.find('tbody .no-result').remove();
          /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
          $rows.show();
          $filteredRows.hide();
          /* Prepend no-result row if all rows are filtered */
          if ($filteredRows.length === $rows.length) {
              $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filtersSummary th').length +'">No result found</td></tr>'));
          }
      });
});

</script>
<br />
<div class="alert alert-danger" ng-show="!auth">
  <strong>Unauthorized!</strong> Maaf anda tidak berhak membuka halaman ini. <a href="" ng-click="logout()">Back to home</a>
</div>
<p ng-show="auth" style="font-weight: bold"><a href="" ng-click="logout()" style="float: right">Back to home</a></p>
<div class='form-group row'>
    <div class='col-xs-3'>
        <label>Period From</label>
        <input type=text date-picker
               placeholder='DD/MM/YYYY'
               maxlength="10"
               ng-required='true'
               class='form-control'
               ng-model='startPeriod'>
    </div>
    <div class='col-xs-3'>
        <label>Period End</label>
        <input type=text  date-picker
               placeholder='DD/MM/YYYY'
               maxlength="10"
               ng-required='true'
               class='form-control'
               ng-model='endPeriod'>
    </div>
</div>
<div class='form-group row'>
    <div class='col-xs-3'>
        <button class="btn btn-primary" ng-click="doSearch()" ng-disabled="disableBtnSearch"><span class="glyphicon {{disableBtnSearch ? 'glyphicon-refresh' : 'glyphicon-search'}}"></span> Search</button>
    </div>
</div>
<div ng-show="auth" class="panel with-nav-tabs panel-primary filterable">
    <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a id="btnTabDetail" href="#tabDetail" data-toggle="tab">Detail absensi</a></li>
                <li><a id="btnTabSummary" href="#tabSummary" data-toggle="tab">Summary absensi</a></li>
            </ul>
            <div class="pull-right">
                <button id="btnFilterTabDetail" class="btn btn-default btn-filter-detail"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                <button id="btnFilterTabSummary" class="btn btn-default btn-filter-summary"><span class="glyphicon glyphicon-filter"></span> Filter</button>
            </div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabDetail">
              
              <table class="table">
                <thead>
                    <tr class="filtersDetail">
                        <th><p class="header-label">Nama Lengkap</p>
                            <input type="text" class="form-control" placeholder="Nama Lengkap" disabled style="display: none;"></th>
                        <th><p class="header-label">Tanggal</p>
                            <input type="text" class="form-control" placeholder="Tanggal" disabled style="display: none;"></th>
                        <th><p class="header-label">Jam Masuk</p>
                            <input type="text" class="form-control" placeholder="Jam Masuk" disabled style="display: none;"></th>
                        <th><p class="header-label">Jam Keluar</p>
                            <input type="text" class="form-control" placeholder="Jam Keluar" disabled style="display: none;"></th>
                        <th><p class="header-label">Status Masuk</p>
                            <input type="text" class="form-control" placeholder="Status Masuk" disabled style="display: none;"></th>
                        <th><p class="header-label">Status Lembur</p>
                            <input type="text" class="form-control" placeholder="Status Lembur" disabled style="display: none;"></th>
                        <th><p class="header-label">Absen Kosong</p>
                            <input type="text" class="form-control" placeholder="Absen Kosong" disabled style="display: none;"></th>
                        <th><p class="header-label">Telat ( Menit )</p>
                            <input type="text" class="form-control" placeholder="Telat ( Menit )" disabled style="display: none;"></th>
                        <th><p class="header-label">Jam Kurang ( Menit ) </p>
                            <input type="text" class="form-control" placeholder="Jam Kurang ( Menit ) " disabled style="display: none;"></th>
                        <th><p class="header-label">Telat + Jam Kurang ( Menit )</p>
                            <input type="text" class="form-control" placeholder="Telat + Jam Kurang ( Menit )" disabled style="display: none;"></th>
                        <th><p class="header-label">Golongan Denda</p>
                            <input type="text" class="form-control" placeholder="Golongan Denda" disabled style="display: none;"></th>
                        <th><p class="header-label">Keterangan</p>
                            <input type="text" class="form-control" placeholder="Keterangan" disabled style="display: none;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in detailCheckinList" class="{{item.status_masuk=='N'?(item.description!=''&&item.description!='-'?'warning-list':'error-list'):(item.status_masuk=='-' && item.status_lembur=='-'?'next-day-list':(item.description!=''&&item.description!='-'?'warning-list':''))}}">
                        <td>{{item.full_name}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.checkin}}</td>
                        <td>{{item.checkout}}</td>
                        <td>{{item.status_masuk=='N'?'Tidak':(item.status_masuk=='Y'?'Ya':'-')}}</td>
                        <td>{{item.status_lembur=='N'?'Tidak':(item.status_lembur=='Y'?'Ya':'-')}}</td>
                        <td>{{item.status_absen_kosong=='N'?'Tidak':(item.status_absen_kosong=='Y'?'Ya':'-')}}</td>
                        <td>{{item.telat}}</td>
                        <td>{{item.kurang}}</td>
                        <td>{{(item.telat!='-' && item.kurang!='-')?getTotal(item.telat, 0):'-'}}</td>
                        <td>{{getGolongan(getTotal(item.telat, 0), item.status_absen_kosong, item.escape_denda)}}</td>
                        <td>{{item.description}}</td>
                    </tr>
                </tbody>
              </table>

            </div>
            <div class="tab-pane fade" id="tabSummary">
              <table class="table">
                <thead>
                    <tr class="filtersSummary">
                        <th><p class="header-label">Nama Lengkap</p>
                            <input type="text" class="form-control" placeholder="Nama Lengkap" disabled style="display: none;">
                        </th>
                        <th><p>Masuk</p>
                        </th>
                        <th><p>Lembur</p>
                        </th>
                        <th><p>Dinas luar kota</p>
                        </th>
                        <th><p>Dinas dalam kota</p>
                        </th>
                        <th><p>Tidak Masuk Tanpa Keterangan</p>
                        </th>
                        <th><p>Cuti</p>
                        </th>
                        <th><p>Lupa Checkin</p>
                        </th>
                        <th><p>Total Hari Kerja</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in summaryCheckinList">
                        <td>{{item.full_name}}</td>
                        <td>{{item.jumlah_masuk}}</td>
                        <td>{{item.jumlah_lembur}}</td>
                        <td>{{item.jumlah_dinas_luar}}</td>
                        <td>{{item.jumlah_dinas_dalam}}</td>
                        <td>{{item.jumlah_tidak_masuk}}</td>
                        <td>{{item.jumlah_cuti}}</td>
                        <td>{{item.jumlah_lupa_checkin}}</td>
                        <td>{{item.total_masuk}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>